<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <title> SPEARHEAD DATA PIPELINE </title>
        <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <h1 class = 'title'>Spearhead data pipeline</h1>
        <div class="nav-bar">
            <a href="#day-to-day">Day to Day</a>
            <a href="#week">Week</a>
            <a href="#month">Month</a>
            <a href="#total-views">Total Views</a>
            <a href="#time-spent">Time Spent on Article</a>
        </div>
        <div class = 'container'>
            <h1>Article Click Counts</h1>
            <ul>
            {% for article in articles %}
                <li>{{ article.title }}: {{ article.count }}</li>
                     {% endfor %}
             </ul>
            <!-- <div class = 'canvas-container'> -->
                <!-- <canvas class = 'canvas'>
                   
                </canvas> -->
            <!-- </div> -->
        </div>
            <div class='footer'>
                <h3> developed by Alejandro Otaola</h3>
            </div>
    </body>
</html>