<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <title> SPEARHEAD DATA PIPELINE </title>
        <link rel="stylesheet" href="static/styles.css"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <h1 class = 'title'>Spearhead data pipeline</h1>
        <div class="nav-bar">
            <a href="/clicks_in_24_hours">last 24 hours</a>
            <a href='/clicks_in_1_week'>Week</a>
            <a href='/clicks_in_30_days'>Month</a>
            <a href=/total_clicks_asc>Total Views</a>
            <a href='/total_time_asc'>Time Spent on Article</a>
            <a href='/canvas'>canvas</a>

        </div>
        <div class = 'container'>
            <div class = 'data-analysis'>
                <h2 class = 'annoucement'>
                    Engagement Index
                </h2>
            </div>
            <canvas id="myChart" ></canvas>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: {{ labels | tojson }},
                        datasets: [{
                            label: 'Number of Clicks',
                            data: {{ data_points | tojson }},
                            backgroundColor: 'rgba(0, 123, 255, 0.5)',
                            color: 'red',
                            borderColor: 'rgba(0, 123, 255, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
            <!-- <div class='footer'>
                <h3> developed by Alejandro Otaola</h3>
            </div> -->
    </body>
</html>