<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <title> SPEARHEAD DATA PIPELINE </title>
        <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <h1 class = 'title'>Spearhead data pipeline</h1>
        <div class = 'container'>
            <div class="nav-bar">
                <a href="#day-to-day">Day to Day</a>
                <a href="#week">Week</a>
                <a href="#month">Month</a>
                <a href="#total-views">Total Views</a>
                <a href="#time-spent">Time Spent on Article</a>
            </div>
            <h3>this is content</h3>
            <img src ='assets/images/Screen Shot 2023-01-13 at 6.23.23 PM.png' alt = 'labyrinth'/>
        <div class='footer'>
            <h3> developed by Alejandro Otaola</h3>
        </div>
    </body>
</html>