<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <title> SPEARHEAD DATA PIPELINE </title>
        <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <h1 class = 'title'>Spearhead data pipeline</h1>
        <div class = 'container'>
            <h3>this is content</h3>
            <img src ='assets/images/Screen Shot 2023-01-13 at 6.23.23 PM.png' alt = 'labyrinth'/>
        <div class='footer'>
            <h3> developed by Alejandro Otaola</h3>
        </div>
    </body>
</html>